# Password for the 'elastic' user (at least 6 characters)
ELASTIC_PASSWORD=""

# Password for the 'kibana_system' user (at least 6 characters)
KIBANA_PASSWORD=""

# Version of Elastic products
STACK_VERSION=8.14.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory
ES_MEM_LIMIT=12G
KB_MEM_LIMIT=8G
LS_MEM_LIMIT=8G

# Predefined encryption key
ENCRYPTION_KEY=

# Set the network interface for suricata
INTERFACE=enp0s6

CLOUDFLARE_IPS=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22
LOCAL_IPS=127.0.0.1/32,10.0.0.0/8,192.168.0.0/16,172.16.0.0/12

CLOUDFLARE_EMAIL=
CF_DNS_API_TOKEN=

# OPENCTI variables
OPENCTI_ADMIN_EMAIL=
OPENCTI_ADMIN_PASSWORD=""
OPENCTI_ADMIN_TOKEN=
OPENCTI_BASE_URL=http://localhost:5050
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
CONNECTOR_HISTORY_ID=
CONNECTOR_EXPORT_FILE_STIX_ID=
CONNECTOR_EXPORT_FILE_CSV_ID=
CONNECTOR_IMPORT_FILE_STIX_ID=
CONNECTOR_EXPORT_FILE_TXT_ID=
CONNECTOR_IMPORT_DOCUMENT_ID=
CONNECTOR_ANALYSIS_ID=